# --- Django / Python ---
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.Python
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Django REST Framework ---
.webextensions/
*.log

# --- Entornos Virtuales ---
.venv/
venv/
env/
ENV/
bin/
lib/
include/

# --- Next.js ---
node_modules/
.next/
out/
build/
.vercel
*.tsbuildinfo
next-env.d.ts

# --- Secretos y Configuración ---
.env
.env.local
*.pem
*.key

# --- Sistema e IDEs ---
.DS_Store
.vscode/
.idea/